<div>
	<h1 class="text-center">Movie Overview</h1>
	<div class="d-flex justify-content-between mb-3">
		<div class="col-12 mb-5">
			<%= form_with url: search_movie_path, method: :get, local: true, class: "form-inline search-form" do |f| %>
				<%= f.text_field :query, value: params[:query], class: "form-control mr-sm-2 search-query", placeholder: "Search Movie Name" %>
			<% end %>
		</div>
	</div>
	<div class="d-flex">
	<% if @movies.present? %>
			<%  @movies.each do |movie| %>
				<div class="card mr-3" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title"><%= movie.name %></h5>
						<h6 class="card-subtitle mb-2 text-muted"><%= movie.year %></h6>
						<p class="card-text truncate-text"><%= movie.description %></p>
						<p class="card-text"><span>Actors: </span><%= display_movie_attributes(movie.actors, "actor") %></p>
						<p class="card-text">Locations: <%= display_movie_attributes(movie.filming_locations, "locator") %></p>
						<p class="card-text">Countries: <%= display_movie_attributes(movie.countries, "country") %></p>
						<p class="card-text">Average rating: <%= movie.average_rating %></p>
					</div>
				</div>
			<% end %>
		<% else %>
		<p>There are no movies currently</p>
		<% end %>
	</div>
</div>
